<% unless user_signed_in? %>
	<div class="hero-unit">
		<h1>Welcome to our mixtapes app</h1>
		<p>
			A project brought to you by <%=link_to "Jaxon Basil Studio", "http://jaxonbasil.com" %>.
		</p>
		<p>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-inverse btn-large" %>
		</p>
	</div>
<% end %>

<%= new_us